<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">
    <title>Document</title>
</head>
<body>
<header>
    <%-include('nav.ejs')%>
</header>
    <main>
      <div>
        <%data.forEach(element=>{ %>

<p>
    <%=element.quote%>
</p>
<p>
    <%=element.character%>
</p>
<img src="<%=element.image%>" alt="">

<p>
    <%=element.characterDirection%>
</p>
<form action="/fav" method="post">
<input type="hidden" name="quote" value="<%=element.quote%>">
<input type="hidden" name="character" value=" <%=element.character%>">
<input type="hidden" name="image" value="<%=element.image%>">
<input type="hidden" name="characterDirection" value=" <%=element.characterDirection%>">
<input type="submit" value="add to my fav">




</form>







       <% })%>












      </div>








    </main>
</body>
</html>